@model Core.UserDetails
@{
    ViewBag.Title = "Login";
    <script src="~/lib/jquery/"></script>
    <script src="~/lib/jquery-validation/"></script>
    <script src="~/lib/jquery-validation-unobtrusive/"></script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
        <body>
            <h2>Login</h2>
            <div>
                @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
                @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))
                {
                    @Html.LabelFor(c => c.UserName)
                    @Html.TextBoxFor(x => x.UserName)
                    @Html.ValidationMessageFor(x => x.UserName)
                    <br />
                    @Html.LabelFor(c => c.Password)
                    @Html.PasswordFor(x => x.Password)
                    <br />
                    <input type="submit" name="BtnSubmit" value="Login" />
                }
            </div>
        </body>
</html>
