@using Facade;
@model Facade.EmployeeListViewModel
@{
    ViewBag.Title = "Employees";
}

<!DOCTYPE html>

<html>

<h2>Employees</h2>

<body>
    <div style="text-align: right">
        Hello, @Model.UserName
        <a href="/Authentication/Logout">Logout</a>
    </div>
    <div>
        <p>
            @await Component.InvokeAsync("NewLink")
        </p>
        <table class="table">
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td style="background-color:@item.SalaryColor">@item.Salary</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                    </td>
                </tr>
            }
        </table>
    

</body>
</html>
